<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParseJSON.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParseJSON.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ParseJSON.My.MySettings>
            <setting name="APIPath" serializeAs="String">
              <value>https://api.peopledatalabs.com/v4/person?api_key=4095df2e-9760-47d9-8e23-869216431981</value> />
            </setting>
        </ParseJSON.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ParseJSON.My.MySettings>
            <setting name="LogPath" serializeAs="String">
                <value>\\mddb01\SQLData\FCI\PDL\Logs\</value>
            </setting>
        </ParseJSON.My.MySettings>
    </applicationSettings>
</configuration>